/* === NAVBAR === */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-oscuro);
  padding: 15px 30px;
  z-index: 10;
}

/* Links de navegación */
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  position: relative;
}

.nav-links a {
  text-decoration: none;
  color: var(--color-muy-claro);
  padding: 10px 15px;
  transition: all 0.3s ease;
  font-weight: 500;
  font-size: 1rem;
}

.nav-links a:hover {
  background-color: var(--color-muy-claro);
  color: var(--color-oscuro);
  border-radius: 5px;
}

/* Menú desplegable */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--color-oscuro);
  list-style: none;
  padding: 10px 0;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li a {
  display: block;
  padding: 10px 20px;
  color: var(--color-muy-claro);
}

.dropdown-menu li a:hover {
  background-color: var(--color-muy-claro);
  color: var(--color-oscuro);
}

/* User section */
.user-section {
  display: flex;
  align-items: center;
}

.user-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-muy-claro);
  color: var(--color-oscuro);
  border-radius: 50%;
  width: 38px;
  height: 38px;
  font-size: 26px;
  text-decoration: none;
  transition: 0.3s;
}

.user-icon:hover {
  transform: scale(1.1);
}

.btn-acceder {
  background-color: var(--color-muy-claro);
  color: var(--color-oscuro);
  padding: 8px 16px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn-acceder:hover {
  background-color: var(--color-claro);
  color: var(--color-oscuro);
}
