:root {
    --color-oscuro: #36393B;
    --color-medio-oscuro: #45484B;
    --color-medio: #9E8D77;
    --color-claro: #C5BC8E;
    --color-muy-claro: #EEE6AB;
    --color-blanco: #F8F9F9;
}

.bannerB {
    position: relative;
    width: 100%;
    height: 88vh;
    background-image: url('img/banner.jpg'); 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color-blanco);
    z-index: 5;
}

.contenido {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    gap: 20px; 
    margin-top: 20px;
}

.fondo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: var(--color-medio);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    width: 100%;
}

.form label {
    font-weight: bold;
}

.form input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form input[type="button"] {
    background-color: var(--color-medio-oscuro);
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    font-weight: bold;
}

.form input[type="button"]:hover {
    background-color: var(--color-oscuro);
}

.img {
    width: 40%;
    height: 200px;
    background-image: url('img/nosotros.png');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.Nosotros {
    width: 80%;
    margin: auto;
    text-align: center;
}

.Nosotros h2::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--color-oscuro);
    margin: 10px auto 0 auto;
}

.Nosotros div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.texto {
    width: 50%;
    font-size: 18px;
    text-align: justify;
}
